---
import { ItemWithImages } from 'lib/prisma'

export interface Props {
  item: ItemWithImages
}

const { item } = Astro.props as Props
const filename = item.images.at(0)?.filename
const src = filename && `/img/item/${filename}`
const href = `/item/${item.slug}`
---

<div class='flex flex-col'>
  <a class='w-max' href={href}>
    <img
      class='border border-black object-cover h-36 mb-1 w-36'
      src={src}
      alt={item.name}
    />
  </a>
  <a class='w-max' href={href}>{item.name}</a>
  <a class='w-max' href={href}>${item.price}</a>
</div>
